body {
  background-image: url("img/books-background.jpg");
  background-color: #f2eecb;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.banner {
  font-size: 4.2rem;
  background-color: #000000;
  color: #ffff00;  
}

.banner, .container {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.top-menu {
  display: flex;
  background-color: #4e80a1;
  justify-content: space-around
}

.yellow-pad {
  background-image: url("img/yellow-pad.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 50rem;
}

.list-events {
  max-width: 500px;
  margin: 0 auto;
}

ul {
  margin-right: 5%;  
}

li { 
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  list-style: none;
  justify-content: space-between;
  background-color: #ffff00;
  border: solid;
}

.description {
  text-align: left;
  justify-content: center;
  margin: auto;
  padding: 0 1rem;
}

#expanded {
  display: block;
  border: solid;     
}

.error-container {
  color: #ffffff;
  background-color: #ff0000;
}